.container {
	display: flex;
	width: calc(100% - 2px);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: "Rubik Vinyl", serif;
	background-color: black;
	border: 1px solid #ffd21c;
}

.title {
	color: #ffd21c;
  font-weight: 700;
  font-style: normal;
	font-size: 120px;
}

.container > h2, p, a {
	color: #ffd21c;
	text-decoration: none;
}

.container > h2 {
	font-size: 36px;
}

.container > p {
	font-size: 24px;
}

.container > a {
	transition: 0.5s all ease;
	font-size: 30px;
}

.container > a:hover {
	color: #ff8e1c;
	transform: translate(0px, -2px);
}